.body{
    background-repeat: no-repeat;
    background-image: url("Images/world.png");
    width: 100vw;
    height: 100vh;
    /*Flex Properties*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    border-style: solid;
    max-width: 780px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    perspective: 1000px;
}

h1{
    font-size: 60px;
    text-align: center;
    align-content: center;
    font-family: 'Lobster Two', cursive;
}

.card {

    position: relative;
    /*border-style: solid;*/
    border-width: 2px;
    transition: all 1s ease-in;
    transform-style: preserve-3d;
    size: 200px 200px;
    width: 240px;
    height: 240px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.card:hover{
    transform: rotateY(180deg);
}


.front, .back, .middle{
    top: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-radius: 22px;
    margin: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.front{
    backface-visibility: hidden;
    z-index: 2;
    background-color: orange;
}
.back{
    
    z-index: 0;
    background-color: darkorchid;
    transform: rotateY(180deg);
}
.middle{
    z-index: 1;
}


.font{
    font-size: 28px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}