.body{
    overflow-x: hidden;
     /* Hide scrollbars */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("Images/world.png");
    width: 100%;
    height: 96%;
    /*Flex Properties*/
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container{
    left: 5%;
    right: 5%;
    position: relative;
    /*border-style: solid;*/
    max-width: 90%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    perspective: 1000px;
}

h1{
    stroke: black;
    stroke-width: 30px;
    
    color: rgb(236, 181, 0);
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    align-content: center;
    font-family: 'Lobster Two', cursive;
}

.card {

    position: relative;
    /*border-style: solid;*/
    border-width: 2px;
    transition: all 1s ease-in;
    transform-style: preserve-3d;
    size: 200px 200px;
    width: 240px;
    height: 240px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

h1:hover{
   
   animation-name: smooth;
   animation-duration: 3s;
}

@keyframes smooth {
    from{
        font-size: 60px;
    }to{
        font-size: 80px;
    }
    /* 25%{
        font-size: 65px;
    }
    50%{
        font-size: 70px;
    }
    75%{
        font-size: 75px;
    } */
}
.card:hover{
    transform: rotateY(180deg);
    
}

.front, .back{
    top: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-radius: 22px;
    margin: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.front{
    backface-visibility: hidden;
    z-index: 2;
    background-color: orange;
}

.back{
    
    z-index: 0;
    background-image: linear-gradient(rgb(235, 63, 220),rgb(91, 62, 221));
    transform: rotateY(180deg);
}

.font{
    font-size: 28px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}